#settings {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    .setting {
        margin: 1em;
        display: inline-block;
        vertical-align: top;
    }

    .switch {
        .option {
            display: block;
            text-align: center;
            line-height: 40px;
            font-size: 20px;
            font-weight: 600;
            color: $brown;

            &.left {
                margin-left: 16px;
            }

            &.right {
                margin-left: -45px;
            }
        }
    }

    .date-picker {
        text-align: center;

        .form-control {
            line-height: 2em;
            border-radius: 1em;
            font-size: 1em;
            padding: 0 1em;
            width: 7.8em;
            border: none;
            color: $brown;
            font-weight: 600;
            min-height: 2em;

            @-moz-document url-prefix() {
                width: 8.2em;
                font-weight: 400;
            }
        }

        .rdtPicker {
            margin-left: calc(50% - 130px);
            border-radius: 1em;
        }
    }
}