#settings {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    .setting {
        margin: 1em;
        display: inline-block;
        vertical-align: top;
    }

    .switch {
        .option {
            display: block;
            text-align: center;
            line-height: 40px;
            font-size: 20px;
            font-weight: 600;
            color: $brown;

            &.left {
                margin-left: 16px;
            }

            &.right {
                margin-left: -45px;
            }
        }
    }

    .date-picker {
        text-align: center;

        .form-control {
            line-height: 2em;
            border-radius: 1em;
            font-size: 1em;
            padding: 0 1em;
            width: 7.8em;
            border: none;
            color: $brown;
            font-weight: 600;
            min-height: 2em;

            @-moz-document url-prefix() {
                width: 8.2em;
                font-weight: 400;
            }
        }

        .rdtPicker {
            margin-left: calc(50% - 130px);
            border-radius: 1em;
        }
    }
}

.add-clock {
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    border-radius: 1em;
    height: 13.7em;
    width: 11.4em;
    margin: 1em;
    vertical-align: top;

    .icon-wrapper {
        background-color: $white;
        height: 1.5em;
        width: 1.5em;
        margin: 2.7em 2em;
        font-size: 2em;
        cursor: pointer;
        position: relative;
        border-radius: 1em;

        .icon {
            position: absolute;
            left: 0.75em;
            top: 0.5em;
            width: 0.5em;
            height: 0.5em;
            opacity: 0.3;
            padding: 0.1em;
            cursor: pointer;
        }
        .icon:before, .icon:after {
            position: absolute;
            left: 0;
            top: 0;
            content: ' ';
            height: 0.5em;
            width: 2px;
            background-color: $gray;
        }
        .icon:before {
            transform: rotate(0deg);
        }
        .icon:after {
            transform: rotate(90deg);
        }

        &:hover {
            .icon {
                display: block;
                opacity: 1;
            }
        }
    }

    &.digital {
        height: 6.3em;

        .icon-wrapper {
            margin: 0.8em 2em;
        }
    }

    .select-wrapper {
        height: calc(100% - 4em);
        width: calc(100% - 3em);
        font-size: 0.8em;
        padding: 1em;
        margin: 1em 0;
        text-align: left;
        overflow: auto;
    }
}