$green:  #8d8741;
$blue:   #659dbd;
$beige:  #daad86;
$brown:  #bc986a;
$yellow: #fbeec1;
$white:  white;
$black:  black;
$gray:   #333;

body {
    background-color: $blue;
    overflow-x: hidden;
}

#app {
    text-align: center;
}

#content {
    position: absolute;
    z-index: 1;
    width: 100vw;
}