/*
green  #8d8741
blue   #659dbd
beige  #daad86
brown  #bc986a
yellow #fbeec1
*/

body {
    background-color: #659dbd;
    font-size: 20px;
}

.app {
    text-align: center;
}

.type-switch {
    margin: 1em;
}

.option {
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
    color: #bc986a;
}

.option-left {
    margin-left: 16px;
}

.option-right {
    margin-left: -36px;
}

.clock {
    display: inline-block;
    margin: 1em;
    padding: 0.5em;
    background-color: white;
    color: #8d8741;
    border-radius: 1em;
}

.clock-digital {
    display: block;
    font-size: 2em;
    padding: 0.1em 0.5em;
    margin: 0.1em;
    border-radius: 0.5em;
    background-color: #fbeec1;
}

.clock-analog {
    display: block;
    font-size: 2em;
    height: 5em;
    width: 5em;
    border-radius: 5em;
    margin: 0.1em;
    background-color: #fbeec1;
    position: relative;
}

.clock-analog-hours, .clock-analog-minutes, .clock-analog-seconds, .clock-analog-dots {
    display: block;
    position: absolute;
    width: 0.2em;
}

.clock-analog-hours {
    height: 3.2em;
    top: 0.9em;
    left: 2.4em;
}

.clock-analog-minutes {
    height: 4em;
    top: 0.5em;
    left: 2.4em;
}

.clock-analog-seconds {
    width: 0.05em;
    height: 4em;
    top: 0.5em;
    left: 2.475em;
}

.clock-analog-stick, .clock-analog-stick-seconds {
    display: block;
    background-color: #daad86;
    width: inherit;
    height: 50%;
    border-radius: 0.2em;
}

.clock-analog-stick-seconds {
    background-color: #bc986a;
}

.clock-analog-center {
    display: block;
    position: absolute;
    top: 2.25em;
    left: 2.25em;
    height: 0.5em;
    width: 0.5em;
    border-radius: 2.25em;
    background-color: black;
}

.clock-analog-dot-wrapper {
    position: absolute;
    top: 0.2em;
    left: 2.45em;
    height: 4.6em;
    width: 0.1em;
    border-radius: 0.1em;
}

.clock-analog-dot {
    height: 0.1em;
    background-color: #8d8741;
}

.clock-analog-dot-bigger {
    border: 2px solid black;
    border-radius: 0.1em;
}

.clock-date {
    color: #bc986a;
    font-weight: 600;
}

.clock-city {
    color: black;
    font-weight: 600;
}

.square {
    display: inline-block;
    height: 3em;
    width: 3em;
    border: 1px solid white;
}

.green {
    background-color: #8d8741;
}
.blue {
    background-color: #659dbd;
}
.beige {
    background-color: #daad86;
}
.brown {
    background-color: #bc986a;
}
.yellow {
    background-color: #fbeec1;
}