body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
}

@import 'App.scss';
@import 'ClockParts/styles.scss';
@import 'Settings/styles.scss';
@import 'Background/styles.scss';